In [20]:
import numpy as np
import pandas as pd

In [21]:
df_agility = pd.read_csv("./data/5-DATA_AGILITY.csv")
primer_df = pd.read_json("./data/df_agility.json")

C:\Users\annav\AppData\Local\Temp\ipykernel_15852\4254276237.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_agility = pd.read_csv("./data/5-DATA_AGILITY.csv")

In [22]:
df_agility.head(5)

,Unnamed: 0,Index_data,Fecha,Manga,License,Breed,Gender,Hight_cm,Classification,Qualification,Speed m/s,Time (s),Faults,Refusals,Competition,Location,Roof,Floor
0,0,0,Sabado 6 abril,Jumping,2023280386PS88000015,Continental Toy Spaniel,Male,24.5,-,DISQ,0.00,0.00,-,-,Pataplán 6 y 7 Abril - Liga CASTILLA LA MANCHA,Cuenca / Spain,Outdoor,Sand
1,1,0,Sabado 6 abril,Agility,2023280386PS88000015,Continental Toy Spaniel,Male,24.5,-,NQ,2.48,79.88,2,2,Pataplán 6 y 7 Abril - Liga CASTILLA LA MANCHA,Cuenca / Spain,Outdoor,Sand
2,2,0,Sabado 6 abril,Jumping,2022160138RS70000004,Shetland Sheepdog,Female,31.0,1º,V_GOOD,3.59,42.03,1,1,Pataplán 6 y 7 Abril - Liga CASTILLA LA MANCHA,Cuenca / Spain,Outdoor,Sand
3,3,0,Sabado 6 abril,Agility,2022160138RS70000004,Shetland Sheepdog,Female,31.0,-,DISQ,0.00,0.00,-,-,Pataplán 6 y 7 Abril - Liga CASTILLA LA MANCHA,Cuenca / Spain,Outdoor,Sand
4,4,0,Sabado 6 abril,Jumping,2018160135RS70000001,Border Collie,Female,50.0,-,DISQ,0.00,0.00,-,-,Pataplán 6 y 7 Abril - Liga CASTILLA LA MANCHA,Cuenca / Spain,Outdoor,Sand

In [23]:
df_agility.drop(columns = ["Unnamed: 0"], inplace = True)

In [24]:
df_agility["Qualification"].value_counts()

Qualification
EXC_0       11972
DISQ         8498
EXC          6472
V_GOOD       4055
GOOD          700
DISQ (R)      402
NP            355
NQ            160
DISQ (T)      157
Name: count, dtype: int64

In [25]:
eliminados = []
for elim in df_agility["Qualification"]:
    if elim == "DISQ" or elim == "DISQ (R)" or elim == "DISQ (T)":
        eliminados.append("ELIM")
    else:
        eliminados.append(elim)

In [26]:
df_agility["Eliminados"] = eliminados

df_agility["Eliminados"].value_counts()

Eliminados
EXC_0     11972
ELIM       9057
EXC        6472
V_GOOD     4055
GOOD        700
NP          355
NQ          160
Name: count, dtype: int64

In [27]:
# Eliminamos los participantes NP (No Presentados) y NQ (No tienen Qualificación ni resultado de Classificación)
index_NP = df_agility.loc[df_agility["Eliminados"] == "NQ"].index.to_list()

df_agility = df_agility.drop(index_NP)
df_agility.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32611 entries, 0 to 32770
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Index_data      32611 non-null  int64
 1   Fecha           32611 non-null  object
 2   Manga           32611 non-null  object
 3   License         32611 non-null  object
 4   Breed           32611 non-null  object
 5   Gender          32611 non-null  object
 6   Hight_cm        32611 non-null  float64
 7   Classification  32611 non-null  object
 8   Qualification   32611 non-null  object
 9   Speed m/s       32611 non-null  float64
 10  Time (s)        32611 non-null  float64
 11  Faults          32611 non-null  object
 12  Refusals        32611 non-null  object
 13  Competition     32611 non-null  object
 14  Location        32611 non-null  object
 15  Roof            32611 non-null  object
 16  Floor           32611 non-null  object
 17  Eliminados      32611 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 4.7+ MB

In [28]:
indice = list(range(32611))
df_agility["indice"] = indice
df_agility = df_agility.set_index("indice")

In [29]:
df_agility.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32611 entries, 0 to 32610
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Index_data      32611 non-null  int64
 1   Fecha           32611 non-null  object
 2   Manga           32611 non-null  object
 3   License         32611 non-null  object
 4   Breed           32611 non-null  object
 5   Gender          32611 non-null  object
 6   Hight_cm        32611 non-null  float64
 7   Classification  32611 non-null  object
 8   Qualification   32611 non-null  object
 9   Speed m/s       32611 non-null  float64
 10  Time (s)        32611 non-null  float64
 11  Faults          32611 non-null  object
 12  Refusals        32611 non-null  object
 13  Competition     32611 non-null  object
 14  Location        32611 non-null  object
 15  Roof            32611 non-null  object
 16  Floor           32611 non-null  object
 17  Eliminados      32611 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 4.7+ MB

| Columna | Descripción| Comentario|
|---|---|---|
|Index_data| Número relacionado con el evento de la competición| generado en el primero dataset|
|Fecha| Día de la competición | + Si no tiene año es del 2024 + modificar formato|
|Manga| Tipo de pista| Jumping o Agility|
|License| identificador individual del Binomio| Groupby con Breed, Gender, Hight_cm|
|Breed| Razas de los perros|-|
|Gender| Hembra o Macho|-|
|Hight_cm| Altura de la cruz|-|
|Classification| 1r, 2o, 3o| Ganadores de la competición|
|Qualification| EXC_0,DISQ,EXC,V_GOOD,GOOD,DISQ (R),NP,NQ,DISQ (T)| EXC_0 = Pista a cero, DISQ (R y T?)= Eliminado, NP= No presentado|
|Speed| Velocidad del perro|-|
|Time| Tiempo en pista|-|
|Faults| nº de Faltas realizadas en pista|-|
|Refusals| nº de Faltas leves realizadas en pista|-|
|Competition| Nombre de la competición| relacionado con Index_data|
|Location| Lugar de la competicion| relacionado con Competición|
|Roof| Tipo de techo de la competición| Outdoor o indoor|
|Floor| Tipo de suelo| ...|
|Eliminados| Misma columna que Qualification pero limpia|-|

In [30]:
# Borro la Columna Qualification porque ya tenemos la de Eliminados que nos da la misma información limpia
del df_agility["Qualification"]

In [31]:
# Rehago la fecha:
list_date = []
for indice in df_agility["Index_data"]:
    list_date.append(primer_df["shortDate"][indice])

df_agility["Fecha_Competición"] = list_date

In [32]:
# Decido no canviar a formato datetime. Demasiados patrones distintos y no es tan relevante para el estudio.
df_agility["Fecha_Competición"].unique()

array(['Apr 6 - 7', 'Apr 5 - 7', 'Mar 29 - 31', 'Mar 28 - 31',
       'Mar 28 - Apr 1', 'Mar 23 - 24', 'Mar 23', 'Mar 17', 'Mar 16 - 17',
       'Mar 16', 'Mar 10', 'Mar 9', 'Mar 9 - 10', 'Mar 3', 'Mar 2 - 3',
       'Mar 1 - 3', 'Feb 25', 'Feb 24 - 25', 'Feb 23', 'Feb 17 - 18',
       'Feb 17', 'Feb 11', 'Feb 10 - 11', 'Feb 3 - 4', 'Jan 27 - 28',
       'Jan 27', 'Jan 26 - 28', 'Jan 21', 'Jan 20 - 21', 'Jan 19 - 21',
       'Jan 19', 'Jan 13 - 14', 'Jan 7', 'Jan 6 - 7', 'Dec 30 - 31, 2023',
       'Dec 29 - 31, 2023', 'Dec 23 - 24, 2023', 'Dec 17, 2023',
       'Dec 16, 2023', 'Dec 16 - 17, 2023', 'Dec 15, 2023',
       'Dec 9 - 10, 2023', 'Dec 8 - 10, 2023', 'Dec 6 - 10, 2023',
       'Dec 2 - 3, 2023', 'Dec 1 - 3, 2023', 'Nov 30 - Dec 1, 2023',
       'Nov 26, 2023', 'Nov 25 - 26, 2023', 'Nov 25, 2023',
       'Nov 24 - 26, 2023', 'Nov 18 - 19, 2023', 'Nov 17, 2023',
       'Nov 17 - 19, 2023', 'Nov 12, 2023', 'Nov 11, 2023',
       'Nov 11 - 12, 2023', 'Nov 10 - 12, 2023', 'Nov 5, 2023',
       'Nov 4 - 5, 2023', 'Nov 3 - 5, 2023', 'Oct 28 - 29, 2023',
       'Oct 28 - Nov 1, 2023', 'Oct 22, 2023', 'Oct 21 - 22, 2023',
       'Oct 21, 2023', 'Oct 14 - 15, 2023', 'Oct 13 - 15, 2023',
       'Oct 12 - 15, 2023', 'Oct 7 - 8, 2023', 'Oct 7 - 9, 2023',
       'Oct 6, 2023', 'Oct 6 - 8, 2023', 'Sep 30 - Oct 1, 2023',
       'Sep 30, 2023', 'Sep 29 - Oct 1, 2023', 'Sep 23 - 24, 2023',
       'Sep 23, 2023', 'Sep 17, 2023', 'Sep 16 - 17, 2023',
       'Sep 15 - 17, 2023', 'Sep 9 - 10, 2023', 'Sep 2 - 3, 2023',
       'Sep 2, 2023', 'Aug 26, 2023', 'Aug 26 - 27, 2023',
       'Aug 25 - 27, 2023', 'Aug 25 - Sep 3, 2023', 'Aug 20, 2023',
       'Aug 19, 2023', 'Aug 12 - 20, 2023', 'Aug 5 - 6, 2023',
       'Aug 2 - 6, 2023', 'Jul 29 - 30, 2023', 'Jul 29, 2023',
       'Jul 28 - 30, 2023', 'Jul 22 - 23, 2023', 'Jul 21 - 23, 2023',
       'Jul 15 - 16, 2023', 'Jul 14 - 16, 2023', 'Jul 9, 2023',
       'Jul 8, 2023', 'Jul 8 - 9, 2023', 'Jul 7 - 9, 2023',
       'Jul 1 - 2, 2023', 'Jun 30 - Jul 2, 2023', 'Jun 24 - 25, 2023',
       'Jun 23 - 25, 2023', 'Jun 23 - Jul 2, 2023', 'Jun 18, 2023',
       'Jun 17, 2023', 'Jun 17 - 18, 2023', 'Jun 16 - 17, 2023',
       'Jun 11, 2023', 'Jun 10 - 11, 2023', 'Jun 10, 2023',
       'Jun 8 - 10, 2023', 'Jun 3 - 4, 2023', 'May 27 - 29, 2023',
       'May 27 - 28, 2023', 'May 26 - 28, 2023', 'May 21, 2023',
       'May 20 - 21, 2023', 'May 13 - 14, 2023', 'May 13, 2023',
       'May 12 - 14, 2023', 'May 7, 2023', 'May 6 - 7, 2023',
       'Apr 29 - 30, 2023', 'Apr 29 - May 1, 2023', 'Apr 22 - 23, 2023',
       'Apr 22, 2023', 'Apr 15 - 16, 2023', 'Apr 15, 2023',
       'Apr 13, 2023', 'Apr 9, 2023', 'Apr 7 - 9, 2023',
       'Apr 6 - 10, 2023', 'Apr 2, 2023', 'Apr 1 - 2, 2023',
       'Apr 1, 2023', 'Mar 31 - Apr 2, 2023', 'Mar 25 - 26, 2023',
       'Mar 24 - 26, 2023', 'Mar 18 - 19, 2023', 'Mar 12, 2023',
       'Mar 11 - 12, 2023', 'Mar 4 - 5, 2023', 'Mar 3 - 6, 2023',
       'Feb 26, 2023', 'Feb 25 - 26, 2023', 'Feb 18 - 19, 2023',
       'Feb 12, 2023', 'Feb 11 - 12, 2023', 'Feb 11, 2023',
       'Feb 10, 2023', 'Feb 5, 2023', 'Feb 4 - 5, 2023',
       'Jan 28 - 29, 2023', 'Jan 28, 2023', 'Jan 27 - 29, 2023',
       'Jan 21 - 22, 2023', 'Jan 14 - 15, 2023', 'Jan 7 - 8, 2023',
       'Dec 31, 2022', 'Dec 30 - 31, 2022', 'Dec 24, 2022',
       'Dec 17 - 18, 2022', 'Dec 17, 2022', 'Dec 10 - 11, 2022',
       'Dec 10, 2022', 'Dec 3 - 4, 2022', 'Dec 3, 2022', 'Nov 26, 2022',
       'Nov 26 - 27, 2022', 'Nov 19 - 20, 2022', 'Nov 19, 2022',
       'Nov 12, 2022', 'Nov 12 - 13, 2022', 'Nov 10 - 11, 2022',
       'Nov 5 - 6, 2022', 'Oct 29 - Nov 1, 2022', 'Oct 22 - 23, 2022',
       'Oct 15 - 16, 2022', 'Oct 14 - 16, 2022', 'Oct 8 - 9, 2022',
       'Oct 1, 2022', 'Oct 1 - 2, 2022', 'Sep 25, 2022',
       'Sep 24 - 25, 2022', 'Sep 24, 2022', 'Sep 17 - 18, 2022',
       'Sep 16 - 18, 2022', 'Sep 10 - 11, 2022', 'Sep 3 - 4, 2022',
       'Sep 3, 2022', 'Aug 13 - 14, 2022', 'Aug 13 - 21, 2022',
       'Aug 6, 2022', 'Aug 6 - 7, 2022', 'Aug 3 - 7, 2022',
       'Jul 29 - 30, 2022', 'Jul 23 - 24, 2022', 'Jul 16, 2022',
       'Jul 15 - 16, 2022', 'Jul 15 - 17, 2022', 'Jul 9 - 10, 2022',
       'Jul 8 - 9, 2022', 'Jul 2 - 3, 2022', 'Jul 1 - 2, 2022',
       'Jun 25 - 26, 2022', 'Jun 25 - 27, 2022', 'Jun 23 - 24, 2022',
       'Jun 18 - 19, 2022', 'Jun 16 - 19, 2022', 'Jun 11, 2022',
       'Jun 11 - 12, 2022', 'Jun 4 - 5, 2022', 'May 28 - 30, 2022',
       'May 28 - 29, 2022', 'May 27 - 29, 2022', 'May 21 - 22, 2022',
       'May 14 - 15, 2022', 'May 14, 2022', 'May 7 - 8, 2022',
       'May 6 - 8, 2022', 'Apr 30 - May 1, 2022', 'Apr 23 - 24, 2022',
       'Apr 23, 2022', 'Apr 23 - 25, 2022', 'Apr 22 - 24, 2022',
       'Apr 16 - 17, 2022', 'Apr 15 - 17, 2022', 'Apr 14 - 17, 2022',
       'Apr 9 - 10, 2022', 'Apr 3, 2022', 'Mar 27, 2022',
       'Mar 26 - 27, 2022', 'Mar 26, 2022', 'Mar 20, 2022',
       'Mar 19 - 20, 2022', 'Mar 18 - 20, 2022', 'Mar 12 - 13, 2022',
       'Mar 5 - 6, 2022', 'Feb 26 - 27, 2022', 'Feb 25 - 27, 2022',
       'Feb 19 - 20, 2022', 'Feb 12 - 13, 2022', 'Feb 11 - 13, 2022',
       'Feb 5 - 6, 2022', 'Jan 29 - 30, 2022', 'Jan 22 - 23, 2022',
       'Jan 15 - 16, 2022', 'Jan 14 - 16, 2022', 'Jan 8 - 9, 2022',
       'Dec 31, 2021', 'Dec 18 - 19, 2021', 'Dec 17 - 19, 2021',
       'Dec 11, 2021', 'Nov 27 - 28, 2021', 'Nov 20 - 21, 2021',
       'Nov 13 - 14, 2021', 'Nov 6 - 7, 2021', 'Oct 30 - Nov 1, 2021',
       'Oct 23 - 24, 2021'], dtype=object)

In [33]:
df_agility["Manga"].value_counts()

Manga
Jumping      13201
Agility      12381
Agility 2     2225
Agility 1     2212
Jumping 2     1205
Jumping 1     1204
Agility 3      127
Jumping 3       48
Jumping 4        8
Name: count, dtype: int64

In [34]:
lista_pista = []
for manga in df_agility["Manga"]:
    if manga.startswith("Jumping"):
        lista_pista.append("Jumping")
    if manga.startswith("Agility"):
        lista_pista.append("Agility")

In [35]:
df_agility["Pista"] = lista_pista
df_agility["Pista"].value_counts()

Pista
Agility    16945
Jumping    15666
Name: count, dtype: int64

In [36]:
# Elimino la columna Manga porque ya se ha creado Pista que está limpia
del df_agility["Manga"]

In [37]:
df_agility.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32611 entries, 0 to 32610
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index_data         32611 non-null  int64
 1   Fecha              32611 non-null  object
 2   License            32611 non-null  object
 3   Breed              32611 non-null  object
 4   Gender             32611 non-null  object
 5   Hight_cm           32611 non-null  float64
 6   Classification     32611 non-null  object
 7   Speed m/s          32611 non-null  float64
 8   Time (s)           32611 non-null  float64
 9   Faults             32611 non-null  object
 10  Refusals           32611 non-null  object
 11  Competition        32611 non-null  object
 12  Location           32611 non-null  object
 13  Roof               32611 non-null  object
 14  Floor              32611 non-null  object
 15  Eliminados         32611 non-null  object
 16  Fecha_Competición  32611 non-null  object
 17  Pista              32611 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 4.7+ MB

In [38]:
def corrige_a_cero(resultado):
    a_cero = float(resultado.replace("-", "0"))
    return float(a_cero)

def corrige_eliminado(resultado):
    eliminado = float(resultado.replace("-", "100"))
    return float(eliminado)

In [46]:
# Marcamos los 0 reales y los eliminados en Faltas y Rehuses
es_eliminado = df_agility["Eliminados"] == "ELIM"
faltas_elim = df_agility["Faults"].isin(["-"])
filtro = es_eliminado & faltas_elim

indice
0        -
2        -
3        -
5        -
7        -
        ..
32596    -
32599    -
32601    -
32606    -
32608    -
Name: Faults, Length: 9057, dtype: object

In [52]:
es_eliminado2 = df_agility["Eliminados"] == "ELIM"
faltas_elim2 = df_agility["Refusals"].isin(["-"])
mascara = es_eliminado2 & faltas_elim2

In [47]:
df_agility["Faults"].loc[filtro] = df_agility["Faults"].loc[filtro].apply(corrige_eliminado)

C:\Users\annav\AppData\Local\Temp\ipykernel_15852\2795337297.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_agility["Faults"].loc[filtro] = df_agility["Faults"].loc[filtro].apply(corrige_eliminado)
C:\Users\annav\AppData\Local\Temp\ipykernel_15852\2795337297.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agility["Faults"].loc[filtro] = df_agility["Faults"].loc[filtro].apply(corrige_eliminado)

In [53]:
df_agility["Refusals"].loc[mascara] = df_agility["Refusals"].loc[mascara].apply(corrige_eliminado)

C:\Users\annav\AppData\Local\Temp\ipykernel_15852\4019760149.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_agility["Refusals"].loc[mascara] = df_agility["Refusals"].loc[mascara].apply(corrige_eliminado)
C:\Users\annav\AppData\Local\Temp\ipykernel_15852\4019760149.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agility["Refusals"].loc[mascara] = df_agility["Refusals"].loc[mascara].apply(corrige_eliminado)

In [49]:
ceros_reales = df_agility["Faults"].isin(["-"])
df_agility["Faults"].loc[ceros_reales] = df_agility["Faults"].loc[ceros_reales].apply(corrige_a_cero)

C:\Users\annav\AppData\Local\Temp\ipykernel_15852\3753487796.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_agility["Faults"].loc[ceros_reales] = df_agility["Faults"].loc[ceros_reales].apply(corrige_a_cero)
C:\Users\annav\AppData\Local\Temp\ipykernel_15852\3753487796.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agility["Faults"].loc[ceros_reales] = df_agility["Faults"].loc[ceros_reales].apply(corrige_a_cero)

In [54]:
ceros_reales2 = df_agility["Refusals"].isin(["-"])
df_agility["Refusals"].loc[ceros_reales2] = df_agility["Refusals"].loc[ceros_reales2].apply(corrige_a_cero)

C:\Users\annav\AppData\Local\Temp\ipykernel_15852\3911609884.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_agility["Refusals"].loc[ceros_reales2] = df_agility["Refusals"].loc[ceros_reales2].apply(corrige_a_cero)
C:\Users\annav\AppData\Local\Temp\ipykernel_15852\3911609884.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_agility["Refusals"].loc[ceros_reales2] = df_agility["Refusals"].loc[ceros_reales2].apply(corrige_a_cero)

In [55]:
df_agility["Faults"] = df_agility["Faults"].astype(int)
df_agility["Refusals"] =  df_agility["Refusals"].astype(int)

In [56]:
df_agility.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32611 entries, 0 to 32610
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index_data         32611 non-null  int64
 1   Fecha              32611 non-null  object
 2   License            32611 non-null  object
 3   Breed              32611 non-null  object
 4   Gender             32611 non-null  object
 5   Hight_cm           32611 non-null  float64
 6   Classification     32611 non-null  object
 7   Speed m/s          32611 non-null  float64
 8   Time (s)           32611 non-null  float64
 9   Faults             32611 non-null  int32
 10  Refusals           32611 non-null  int32
 11  Competition        32611 non-null  object
 12  Location           32611 non-null  object
 13  Roof               32611 non-null  object
 14  Floor              32611 non-null  object
 15  Eliminados         32611 non-null  object
 16  Fecha_Competición  32611 non-null  object
 17  Pista              32611 non-null  object
dtypes: float64(3), int32(2), int64(1), object(12)
memory usage: 4.5+ MB

In [57]:
df_agility.to_csv("6_DATA_AGILITY.csv")